{% extends 'ejemplo_dos/base.html' %}

{% block contenido %}
{% if user.is_authenticated %}
<li>
    <h3>
        <a href="{% url 'ejemplo-dos-crear' %}">Nuevo Post</a>
    </h3>
    <h5><a href="{% url 'ejemplo-dos-avatares-actualizar' user.id %}">Cambiar Avatar</a></h5>
    <h5><a href="{% url 'ejemplo-dos-users-actualizar' user.id %}">Actualizar Datos</a></h5>
    <h5><a href="{% url 'ejemplo-dos-mensajes-listar' %}">Mensajes</a></h5>
</li>
{% endif %}
<ul>
{% for post in object_list %}
    <li>{{post.publicado_el}} - - {{post.titulo}}
        {% if user.is_superuser %}
            <a href="{% url 'ejemplo-dos-borrar' post.id %}">Borrar</a>
            <a href="{% url 'ejemplo-dos-actualizar' post.id %}">Actualizar</a>
        {% endif %}
        <a href="{% url 'ejemplo-dos-detalle' post.id %}">Ver</a>
    </li>
{% endfor %}
</ul>
{% endblock %}